<!DOCTYPE html>
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Start Jumio Demo</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/aes.js" integrity="sha256-/H4YS+7aYb9kJ5OKhFYPUjSJdrtV6AeyJOtTkw6X72o=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.3.js"></script>
</head>
<body>
  <script>
    // change below
    var datacenter = 'emea-1.jumio.ai'
    var key = '2b2i83jup3eu2tr3tn581kl2dc';
    var secret = '1vat6laeka5gv8riltk1j0hqlguo80bue3q6gvrnk9u3f2adl39i';
    // no changes below
    var token = key + ":" + secret;
    var hash = btoa(token);  // Base64 Encoding -> btoa
    var url = 'https://dev.2-4-h.app?do=access&token=' + hash + '&dc=' + datacenter

    function redirectToNewPage() {
            // Redirect to new page
            window.location.href = url ;
          }
  </script>
<center>
  <h2>Please click <button onclick="redirectToNewPage()">Start</button> to initiate your Demo!</h2>
</center>
</body>
</html>
